body{
    margin: 0;
}

.header{
    background: #ffffff;
    height: 80px;
    box-shadow:  0px 2px 3px 0.2px rgba(50,50,50,0.5);
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    position: relative;
    font-size: 44px;
}

.left_menu{
    border-right: 1px solid #e5e5e5;
   padding: 15px 20px;
    text-align: center;
    order:1;
}


.container_logo{
    text-align: center;
    vertical-align: middle;
    order:2;
    width: 100%;
}

.logo{
    height: 45px ;
    margin-top: 21px;

}

.right_menu{
    padding: 10px;
    text-align: center;
    border-left: 1px solid #e5e5e5;
    order:3;
}

.myProfile{
    border-radius: 50%;
    height: 60px;
}


.home_icon{
    position: relative;
    color:#1f6299;

}

.home_icon:hover{
    color: #2788d1;
}

.home_icon:after{
    content: '3';
    background: #ffba27;
    position: absolute;
    top:-7px;
    left: 32px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    color: white;
    font-family: "open sans";
    font-weight:700;
    font-size: 12px;

}

.searchrow-Block{
    text-align: center;
    background-color: #e55142;
    color: red;
    display: table;
    width: 100%;
    padding-top: 10px ;
}

.searchRow {
    width: 450px;
    height: 50px;
    border-radius:  25px;
    border: solid 3px #1f6299;
    padding: 0px 10px 0px 34px;
    font-size: 35px;
    outline: 0;
    color: #1f6299;
    background-image: url(../images/search-icon-md.png);
    background-repeat: no-repeat; /*Убираем повтор изображения*/
    background-position: 8px;
    background-size: 25px;
    display: table-cell;
}

.button{
    width: 130px;
    height: 50px;
    margin-left:5px;
    border-radius:  25px;
    border: solid 3px #1f6299;
    background:#1f6299;
    color: white;
    font-size: 32px;
    position: relative;
    outline: 0;
    display: table-cell;
}

.buttonSearch:hover{
    background-color: #2788d1;
    border-color:#2788d1;
}

.page{
    width: 100%;
    background-color: #f8fafa;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.content{
    order:2;
    width: 100%;
    margin: 27px 0px 0px 0 ;
}

.contentHeader{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    position: relative;
    font-size: 19px;
    font-weight: 400;
    color: #919191;
    font-family: "open sans";
}

.calc{
    order: 1;
    padding-left: 10px;
}

.menu{
    order: 2;
    padding-right: 20px;
}

.menu a{
    font-size: 25px;
    margin-right: 40px;
}

.menu a:hover{
    color:#1f6299;
}

.photo1{
    display: inline-block;
    line-height: 0;
    margin: 5px 1% 1.5% 0.5%;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border:6px solid white ;
    background-position: center;
    background-size: cover;
}


.photo1:hover{
    border: 6px solid #9fe2ff;
    cursor: pointer;
}



.left_block{
    width: 356px;
    position: relative;
    order:1;
    margin: 35px 25px 0px 25px ;
}

.profileBlock  {
    background-color: #ffffff;
    box-shadow:  0px 2px 3px 0.2px rgba(50,50,50,0.5);
    text-align: center;
    font-family: open sans;
    border-bottom:0 ;
}

.avatar{
    border-radius: 50%;
    width: 120px;
    margin-top: -40px;
    margin-bottom: -5px;
}

.profileName{
    font-size: 25px;
    font-weight: 500;
    color: #191919;
    margin-bottom: -10px;
}

.profileDescription{
    font-size: 19px;
    font-weight: 400;
    color: #434343;

}

.profileLowerDescription{
    font-size: 19px;
    font-weight: 400;
    color: #919191;
    margin: auto;
    width: 200px;
}

.followButton{
    background-color: #42cd42;
    width: 150px;
    height: 47px;
    border: 0;
    border-radius: 30px;
    color: #ffffff;
    font-family: "open sans";
    font-size: 17px;
    background-image: url("../images/checkmark.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 25px;
    padding-left: 37px;
    margin-top: 12px;
    outline: 0;
}

.followButton:hover{

    box-shadow:  0px 2px 3px 0.2px rgba(50,50,50,0.5);
}

.followButton img{
    margin-bottom: -4px;

}

.profileBlockBottom{
    display: table;
    color: #353535;
    font-weight: 300;
}

.profileBlockFollowers{
    display: table-cell;
    width: 145px;
    border-right: 1px solid #e5e5e5;
    padding: 20px 0;
    border-bottom: solid 1px #e5e5e5;
    border-top: solid 1px #e5e5e5;
    color: #919191;

}

.profileBlockFollowing{
    color: #919191;
    display: table-cell;
    width: 145px;
    border-bottom: solid 1px #e5e5e5;
    border-top: solid 1px #e5e5e5;
}

.profileBottomLink{
    padding: 20px 25px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #a6a6a6;
    font-family: "open sans";
}

.profileBottomLink img{
    margin:-6px 3px -11px 0px;
}

.recommended h1{
    font-size: 19px;
    font-weight: 400;
    color: #919191;
    font-family: "open sans";

}

.recommended{
    margin-top: 75px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #a6a6a6;
    font-family: "open sans";
}

.item{
    display: table;
    margin: 20px 0;

}
.recommended img{
    border-radius: 50%;
    width:58px;
    display: table-cell;
    box-shadow:  0px 2px 3px 0.2px rgba(50,50,50,0.5);
}

.recommended h3{
    margin: 0px 0 3px 0;
    color: #272727;

}

.profileBlockBottom h3{
    margin: 0px 0 0px 0;
    color: #272727;
    padding: 0;

}

.recImg{
    display: table-cell;
    vertical-align: middle;
}

.recName{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.footer{
    text-align: center;
    background-color: #f8fafa;
    padding-bottom: 20px;

}

.arrow1{
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-left-color: #42cd42;
    display: inline-block;
}
.arrow2{
    width: 0;
    height: 0;
    border: 40px solid #ff731d;
    border-bottom-color: transparent;
    display: inline-block;
}
.arrow3 {
    width: 50px;
    height: 50px;
    border: 15px solid #4bb2fb;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.arrow3:after {
    width: 0;
    height: 0;
    top: -19px;
    left: 28px;
    border: 40px solid transparent;
    border-right: 0;
    border-bottom-color: #4bb2fb;
    border-top: 0;
    content: "";
    position: absolute;
}


.buttonMore{
    background-color: transparent;
    width: 150px;
    height: 150px;
    border: solid 3px #9fe2ff ;
    border-radius: 50%;
    color: #9fe2ff;
    font-weight: 500;
    font-family: "open sans";
    font-size: 22px;
    outline: 0;
    margin: auto;
}

.buttonMore:hover{
    border: solid 6px #58c2eb;
    color:#58c2eb;

}

.buttonMoreContainer{
    width: 100%;
    text-align: center;

}
