body {
  margin: 0;
}
.header {
  background: #ffffff;
  height: 80px;
  box-shadow: 0px 2px 3px 0.2px rgba(50, 50, 50, 0.5);
  width: 100%;
  position: relative;
  font-size: 44px;
}
.container_logo {
  text-align: center;
  vertical-align: middle;
}
.container_logo .logo {
  height: 45px ;
}
.right_menu {
  padding: 10px;
  text-align: center;
  border-left: 1px solid #e5e5e5;
  order: 3;
}
.myProfile {
  border-radius: 50%;
  height: 60px;
}
.home_icon {
  position: relative;
  color: #1f6299;
}
.home_icon:hover {
  color: #2788d1;
}
.home_icon:after {
  content: '3';
  background: #ffba27;
  position: absolute;
  top: -7px;
  left: 32px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
  font-family: "open sans";
  font-weight: 700;
  font-size: 12px;
}
.searchRowBlock {
  width: 100%;
  text-align: center;
}
.searchRowBlock .searchRow {
  width: 450px;
  height: 50px;
  border-radius: 25px;
  border: solid 3px #1f6299;
  padding: 0px 10px 0px 34px;
  font-size: 35px;
  outline: 0;
  color: #1f6299;
  background-image: url(../images/search-icon-md.png);
  background-repeat: no-repeat;
  /*Убираем повтор изображения*/
  background-position: 8px;
  background-size: 25px;
}
.searchRowBlock .button {
  width: 130px;
  height: 50px;
  margin-left: 5px;
  border-radius: 25px;
  border: solid 3px #1f6299;
  background: #1f6299;
  color: white;
  font-size: 32px;
  position: relative;
  outline: 0;
}
.searchRowBlock .button:hover {
  background-color: #2788d1;
  border-color: #2788d1;
}
.photo {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 6px solid white;
}
.avatar {
  border-radius: 50%;
}
.profileName {
  font-size: 25px;
  font-weight: 500;
  color: #191919;
  margin-bottom: -10px;
}
.profileDescription {
  font-size: 19px;
  font-weight: 400;
  color: #434343;
}
.profileLowerDescription {
  font-size: 19px;
  font-weight: 400;
  color: #919191;
  margin: auto;
  width: 200px;
}
.followButton {
  background-color: #42cd42;
  width: 150px;
  height: 47px;
  border: 0;
  border-radius: 30px;
  color: #ffffff;
  font-family: "open sans";
  font-size: 17px;
  background-image: url("../images/checkmark.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 25px;
  outline: 0;
}
.followButton:hover {
  box-shadow: 0px 2px 3px 0.2px rgba(50, 50, 50, 0.5);
}
.buttonMore {
  background-color: transparent;
  width: 150px;
  height: 150px;
  border: solid 3px #9fe2ff;
  border-radius: 50%;
  color: #9fe2ff;
  font-weight: 500;
  font-family: "open sans";
  font-size: 22px;
  outline: 0;
  margin: auto;
}
.buttonMore:hover {
  border: solid 6px #2788d1;
  color: #2788d1;
}
body {
  background-color: #fdfbf2;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.left_menu {
  border-right: 1px solid #e5e5e5;
  padding: 15px 20px;
  text-align: center;
  order: 1;
}
.container_logo {
  order: 2;
  width: 100%;
  padding-top: 21px;
}
.right_menu {
  padding: 10px;
  text-align: center;
  border-left: 1px solid #e5e5e5;
  order: 3;
}
.myProfile {
  border-radius: 50%;
  height: 60px;
}
.home_icon {
  position: relative;
  color: #1f6299;
}
.home_icon:hover {
  color: #2788d1;
}
.home_icon:after {
  content: '3';
  background: #ffba27;
  position: absolute;
  top: -7px;
  left: 32px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
  font-family: "open sans";
  font-weight: 700;
  font-size: 12px;
}
.searchRowBlock {
  padding-top: 10px ;
  background-color: #fdfbf2;
  display: table;
}
.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fdfbf2;
  width: 100%;
}
.content {
  order: 2;
  width: 100%;
  margin: 27px 0px 0px 0 ;
}
.contentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-size: 19px;
  font-weight: 400;
  color: #919191;
  font-family: "open sans";
}
.photo {
  display: inline-block;
  line-height: 0;
  margin: 5px 1% 1.5% 0.5%;
  position: relative;
}
.left_block {
  width: 356px;
  height: 100%;
  position: relative;
  order: 1;
  margin: 35px 25px 0px 25px ;
}
.profileBlock {
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0.2px rgba(50, 50, 50, 0.5);
  text-align: center;
  font-family: "open sans";
  border-bottom: 0 ;
  width: 290px;
}
.profileBlock .avatar {
  width: 120px;
  margin-top: -40px;
  margin-bottom: -5px;
}
.followButton {
  padding-left: 37px;
  margin-top: 12px;
}
.profileBlockBottom {
  display: table;
  color: #353535;
  font-weight: 300;
}
.followButton:hover {
  box-shadow: 0px 2px 3px 0.2px rgba(50, 50, 50, 0.5);
}
.profileBlockFollowers {
  display: table-cell;
  width: 145px;
  border-right: 1px solid #e5e5e5;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  color: #919191;
}
.profileBlockFollowing {
  color: #919191;
  display: table-cell;
  width: 145px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.profileBottomLink {
  padding: 20px 25px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #a6a6a6;
  font-family: "open sans";
}
.profileBottomLink .profileBottom_Img {
  margin: -6px 3px -11px 0px;
}
.profileBlockBottom .count {
  margin: 0px 0 0px 0;
  color: #272727;
  padding: 0;
}
.footer {
  text-align: center;
  background-color: #fdfbf2;
  padding-bottom: 20px;
}
.buttonMoreContainer {
  width: 100%;
  text-align: center;
}
